<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/ultimate.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>RESULTS</title>
</head>

<body>
  <header id="header1">
    <nav id="navbar">
      <p> Book APP </p>
      <p><a href="/">Home</a></p>
    </nav>
  </header>
  <header id="header2">
    <p id="boxTitle">Search Results</p>
  </header>
  <div id="searchResults">
    <section class="forEachResults">
      <% books.forEach(book => { %>
      <img id="bookCover" src="<%= book.image_url %>">
      <h2><%= book.title %></h2>
      <h5>Written by <%= book.authors ? book.authors.join(', ') : 'unknown' %></h5>
      <p>Summery: <%= book.description %></p>

      <% }) %>
    </section>

</body>

</html>
<!-- This page was entirely borrowed from demo..... -->