.inputQueryHere{
  margin: auto;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: width 2px;
  border-style: solid;
  border-color: red;
  background-color: black;
}

